:host {
  display: block;
  width: 100%;
  height: 100%;
}

table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  z-index: 1;
}

tbody {
  vertical-align: top;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
}

th,
td {
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid #dddddd;
  padding: 15px;
  max-height: 42px;
  text-align: left;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  height: 100%;
}

.buscar {
  display: flex;
  width: 100%;
}
.tabela {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  position: relative;
  border: 10px double #775df642;
  border-radius: 10px;
  z-index: 1;
}

input {
  width: 100%;
  border: 2px solid #765df6;
  border-radius: 12px;
  padding: 7px;
  padding-left: 15px;
  font-size: 1.2em;
}

.celula-telefone {
  text-align: right;
}

td.celula-telefone {
  color: rgba(0, 0, 0, 0.692);
}

.celula-acoes {
  width: 150px;
  text-align: center;
  border: none;
  padding: 5px;
}

.btn-atualizar{
  width: 80px;
  font-weight: 700;
  color: white;
  background-color: #765df6;
  border: 3px solid #765df6;
  padding: 8px;
  border-radius: 3px;
  transition: 0.6s;
}

.btn-atualizar:active{
  border: 3px inset  #6c51f7;
}

.btn-acao {
  width: 40px;
  margin-right: 6px;
  padding: 9px;
  color: rgb(26, 26, 26);
  border: 1px solid rgba(168, 167, 167, 0.4);
  border-radius: 3px;
}

.btn-acao:active{
  background-color: white;
}

.btn-acao-lixo {
  width: 40px;
  color: rgb(238, 66, 66);
  padding: 9px;
  border: 1px solid rgba(168, 167, 167, 0.4);
  border-radius: 3px;
}

.btn-acao-lixo:active{
  background-color: white;
}

.tabela::-webkit-scrollbar {
  width: 8px;
}

.tabela::-webkit-scrollbar-track {
  background: white;
}

.tabela::-webkit-scrollbar-thumb {
  background: #765df6;
  border-radius: 5px;
}
